/* 下拉菜单白色背景 */
.rd-navbar-dropdown {
  background: white !important;
  min-width: 400px !important;
}

/* 下拉菜单文字 */
.rd-navbar-dropdown a {
  color: black !important;
  font-size: 14px;
  padding: 8px 15px;
}

/* 悬停状态 */
.rd-navbar-dropdown li a:hover {
  background-color: #f0f2f5; /* 浅灰色悬停背景 */
  color: #000 !important;
}